@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Readex+Pro&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

a{
    text-decoration: none; 
}

body{
    margin: 0;
    text-align: center;
    font-size: 1.25rem; 
}

h1 {
    margin: 50px auto 0 auto; 
    line-height: 2; 
    background-color: #FEF1E6;
    font-size: 3.125rem;
}

h2{
    font-size: 1.875rem;
    padding-bottom: 50px; 
    color: #90AACB; 
}

hr{
    border: dotted #EAF6F6 6px; /*6px in width*/
    border-bottom: none; 
    width: 4%;
    margin: 100px auto 100px auto; 
}

/* centering unordered list */
ul{
    text-align: left;
    width: 50%; /* half the width of parent container */
    position:relative; /* move from relative current position */
    left: 25%; /* 100-50=50, 50/2=25*/
}

/*id*/

/*classes*/
.top-container{
    background-color: #FEF1E6;
    margin: auto; /* to center*/
    padding: 50px 0 50px 0; 
}

.info{
    margin: auto; 
    width: 40%; 
}

.middle-container{
    
}

.experience{
    margin: 50px 0 50px 0;
}

.skills{
    padding: 50px 0 20px; 
}

*.bottom-container{
    background-color: #F9D5A7;
    padding: 40px 0 20px;  
}