@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Readex+Pro&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: #fff;
    margin: 0;
}

h2{
    text-align: center; 
}

/*id*/
#navbar{
    background-color: #000;
    margin: auto; 
    overflow: hidden;
}

#navbar a{
    color: #fff; 
}

#navbar a:hover, a:visited{
    color: inherit; 
}

#navbar ul{
    list-style: none;
    padding: 0; 
    float: right; 
}

#navbar li{
    display: inline; 
    padding: 10px; 
    color: #fff; 
}

#navbar :last-child{
    margin-right: 10px; 
}

/*inline-block to keep elements in the same block*/
#about-me{
    display: inline-block; 
    margin: 50px; 
}

#about-me img{
    float: left; 
    max-height: 312px;
    max-width: 312px;
    width: 30%; 
    border-radius: 50%;
    margin-left: 100px;  
    margin-right: 80px; 
}

#about-me h1, p{
    padding-left: 20px;
}


#skills ul{
    list-style: none; 
    padding-left: 150px;
}


#experience{
    display: block; 
    padding: 50px; 
}

#projects{
    padding: 50px; 
    text-align: center;
}

#projects img:hover{
    opacity: 0.5;  
}

.projects-container{
    display: flex;
    padding: 20px; 
}

.projects-item{
    display: row; 
    flex-wrap: wrap;
}

.projects-item img{
    width: 75%;
    height: 75%; 
}

footer{
    background-color: #000;
}

#contact{
    text-align: center;
}

#contact h2{
    padding-top: 50px; 
    color: #fff; 
}
#contact ul{
    list-style: none; 
}

#contact li{
    display: inline;
    padding: 10px; 
}

#contact img{
    max-width: 70px;
    max-height: 70px;
}

#contact p{
    color: #fff; 
    padding-bottom: 40px; 
}

/*classes*/
.experience-container{
    padding-left: 100px; 
}

/*will make it responsive, wont go more than 600px*/
@media(max-width: 600px){

    #about-me{
        width: 100%;
        float: none;
    }

    #skills{
        width: 100%;
        float: none;
    }

}